<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="welcome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v6.0.0-beta1/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Murecho:wght@100&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <p class="nav-title" style="margin-top: -5px;">TODO-List</p>
    </nav>
    <main>
        <section>
            <h1 class="title">TODO-List</h1>
            <h2 class="subtitle">Gerenciando nossas atividades Diárias!</h2>
            <a href="/checklists"><button class="button">Ir para lista de atividades!</button></a>
        </section>
    </main>
</body>
</html>

